body {
    background-color: black;
    color: rgb(248, 79, 79);
}

/* tudokkkkkkk */
.tudo {
    text-align: center;
    justify-content: center;
    
    
}
/* div trial */

.divTrailers {

    display: flex;
    justify-content: center;
}

.trailer1{

    border-radius: 40px;
    width: 320px;
    height: 450px;
    margin-right: 25px;
}

.link{
    color:  rgb(248, 79, 79);
}

/* imagem </form>*/

